{% set repository_text = 'GitLab' %}
{% set repository_image = 'https://i.ibb.co/K5D0ktB/gitlab.webp' %}
{% set repository_link = 'https://gitlab.com/monstm/pneuma-framework' %}

{% set manual_text = 'Manual' %}
{% set manual_image = 'https://i.ibb.co/cchCzF1/manual.webp' %}
{% set manual_link = 'https://monstm.gitlab.io/pneuma-framework/' %}

{% set documentation_text = 'Documentation' %}
{% set documentation_image = 'https://i.ibb.co/qxDd7Sk/phpdoc.webp' %}
{% set documentation_link = 'https://monstm.alwaysdata.net/pneuma-framework/' %}

{% set issue_text = 'Report Issues' %}
{% set issue_image = 'https://i.ibb.co/K5D0ktB/gitlab.webp' %}
{% set issue_link = 'https://gitlab.com/monstm/pneuma-framework/-/issues' %}

{% set license_name = 'MIT open source' %}
{% set license_link = 'https://gitlab.com/monstm/pneuma-framework/-/raw/master/LICENSE' %}

{% apply spaceless %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Pneuma | CGI Template.</title>
		<link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css"/>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/link-preload@1.2.10/link-preload.min.js" defer></script>
		<style>
			.support-box img {
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				transition: all 0.5s ease;
			}

			.support-box:hover img {
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
			}
		</style>
	</head>
	<body>
		<header class="container">
			<div class="px-4 py-5 text-center bg-body-tertiary rounded-3">
				<h1 class="display-5 fw-bold text-body-emphasis">Congratulations!</h1>
				<div class="col-lg-6 mx-auto">
					<h2 class="lead mb-4">
						You have successfully created your
						<strong>Pneuma Application</strong>.
					</h2>
					<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
						<a class="btn btn-warning btn-lg px-4 gap-3" href="{{ user_guide }}" target="_blank">Get started with Pneuma</a>
					</div>
				</div>
			</div>
		</header>

		<section class="container">
			<div class="row g-5">
				<div class="col-xl-9 gap-2">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<th class="text-end">CGI Directory</th>
									<td>{{ base_cgi }}</td>
								</tr>
								<tr>
									<th class="text-end">Application Directory</th>
									<td>{{ base_app }}</td>
								</tr>
								<tr>
									<th class="text-end">Control File</th>
									<td>{{ control_file }}</td>
								</tr>
								<tr>
									<th class="text-end">View File</th>
									<td>{{ view_file }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3 class="text-center mt-3">The page you are looking at is being generated dynamically by Pneuma.</h3>
				</div>

				<div class="col-xl-3">
					<div class="row g-4">
						<div class="support-box col-6 col-xl-12 gap-2">
							<a class="d-flex gap-3 py-3" href="{{ repository_link }}" target="_blank">
								<img class="rounded-circle flex-shrink-0" src="{{ repository_image }}" alt="{{ repository_text }}" loading="lazy"/>
								<h4 class="fw-semibold mb-0">{{ repository_text }}</h4>
							</a>
						</div>
						<div class="support-box col-6 col-xl-12 gap-2">
							<a class="d-flex gap-3 py-3" href="{{ manual_link }}" target="_blank">
								<img class="rounded-circle flex-shrink-0" src="{{ manual_image }}" alt="{{ manual_text }}" loading="lazy"/>
								<h4 class="fw-semibold mb-0">{{ manual_text }}</h4>
							</a>
						</div>
						<div class="support-box col-6 col-xl-12 gap-2">
							<a class="d-flex gap-3 py-3" href="{{ documentation_link }}" target="_blank">
								<img class="rounded-circle flex-shrink-0" src="{{ documentation_image }}" alt="{{ manual_text }}" loading="lazy"/>
								<h4 class="fw-semibold mb-0">{{ documentation_text }}</h4>
							</a>
						</div>
						<div class="support-box col-6 col-xl-12 gap-2">
							<a class="d-flex gap-3 py-3" href="{{ issue_link }}" target="_blank">
								<img class="rounded-circle flex-shrink-0" src="{{ issue_image }}" alt="{{ issue_text }}" loading="lazy"/>
								<h4 class="fw-semibold mb-0">{{ issue_text }}</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="container footer mt-auto py-3 bg-body-tertiary">
			<p class="text-center">Copyright &copy;
				{{ year }}
				<a href="{{ manual_link }}" target="_blank">Pneuma</a>
				&bull; Open source project released under the
				<a href="{{ license_link }}" target="_blank">{{ license_name }}</a>
				licence &bull; All rights reserved</p>
		</footer>
	</body>
</html>
{% endapply %}
